@media screen and (max-width: 700px) {
/* ABOUT ME */
  .about-me-container {
    width: 95%;
  }

  .btn-container {
    flex-direction: column;
    width: fit-content;
    margin: 2rem auto;
  }

/* SKILLS */
  .skills-container {
    width: 90%;
    flex-direction: column;
    gap: 0.5rem;
  }

/* PROEJCTS */
  .projects-container {
    flex-direction: column;
  }

  .project-card {
    width: 95%;
  }
/* 
  .contact-box {
    width: 90%
  } */
}


