@media screen and (max-width: 1000px) {
  /* .skill-card {
    width: 400px;
  } */
  .about-me-buttons {
    display: flex;
    justify-content: flex-start;
  }

  .project-card {
    width: 400px;
  }

  .contact-box {
    width: 90%
  }
}