/* --- FONTS --- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --- GENERAL SETTINGS --- */

:root {
  --primary-color: #16151c;  /* color de fondo */
  --secundary-color: #dce5db; /* color de texto */
  --third-color: #045546; /* color de títulos/resaltado */
  --mid-color: #219681; /* color de resaltado 2 */
  --back-color: #eaeaea;
  --link-color: #ae4b00;

  --fuente-krona: 'Krona One', sans-serif;
  --fuente-montserrat: 'Montserrat', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--back-color);
  width: 100%;
}

section {
  padding-top: 30px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--link-color);
}

h1 {
  font-size: 3em;
  width: 100%;
  color: var(--back-color);
  margin: 0 0 20px 0;
}

h2 {
  margin-bottom: 20px;
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 2em;
  color: black;
}

.btn {
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--secundary-color);
}

.btn:hover {
  cursor: pointer;
}

/* --- ABOUT-ME SECTION --- */
#about-me {
  width: 100%;
  min-height: fit-content;
  height: 100vh;
  padding: 25px;
  padding-top: 10%;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

.about-me-container {
  width: 70%;
  margin: auto;
}

#about-me p {
  color: var(--secundary-color);
  font-size: 1em;
  letter-spacing: 1.3px;
  text-align: justify;
}

#about-me span {
  font-weight: bold;
  color: var(--mid-color);
}

.btn-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-color-1 {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.btn-color-2 {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.btn-color-1:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.btn-color-2:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}


/* --- SKILLS SECTION --- */
.skills-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 1rem;
  justify-content: center;
  margin: auto;
}

.skill-card {
  width: fit-content;
  border: 2px solid #1b161c;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-self: center;
}

.skill-card:hover {
  background: #ffffff;
  transition: 0.3s;
  cursor: default;
}


.flex-container {
  border: 1px solid black;
  background: #ddd;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.caja {
  border: 1px solid rgb(79, 70, 70);
  background: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  margin: 5px;
  float: left;
}



/* --- PROJECTS SECTION --- */
.projects-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  border: 2px solid black;
  padding: 10px 20px;
  width: 32%;
  box-sizing: border-box;
  float: left;
  border-radius: 10px;
  align-items: center;
}

.project-header {
  width: 100%;
}

.project-title {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.project-difficulty {
  color: var(--primary-color);
  font-size: 0.9rem;
}

.project-card span {
  font-weight: bold;
  color: var(--third-color);
}

.project-technologies ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin: 0 auto;
  gap: 0.5rem;
}

.project-technologies ul li {
  list-style: none;
  padding: 1px 8px;
  border: 1px solid #1b161c;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  text-align: center;
  float: left;
}

.project-technologies ul li:hover {
  background: #ffffff;
  transition: 0.3s;
  cursor: default;
}

.project-description {
  color: black;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.project-description li {
  list-style: none;
}

.project-card {
  position: relative;
}

.project-buttons {
  margin: auto;
}

.project-buttons img {
  height: 2rem;
}

.project-card-button {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin: auto;
}

.project-card-button img {
  border: 2px solid var(--secundary-color);
  background-color: var(--secundary-color);
  border-radius: 100%;
}


/* --- CONTACT-ME SECTION --- */
.contacts-container {
  margin-bottom: 250px;
}
.contact-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
}

.contact-box-element {
  margin: 0 20px;
}

.contact-box-key {
  font-weight: 600;
  float: left;
}

.contact-box-value {
  color: #493c4c;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.contact-box-copy input {
  outline: none;
  border: 1px solid #1b161c;
  border-radius: 10px;
  background: transparent;
  padding: 3px 8px;
  font-family: Poppins;
  cursor: pointer;
  font-size: 1em;
  

}

.contact-box-copy input:hover {
  background: #e8f0e7;
  transition: 0.3s;
}

.contact-box-copy input:focus {
  outline: none;
}

/* --------------------------------------------- */
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* --------------------------------------------- */